########################################
# .NET
########################################

[Bb]in/
[Oo]bj/

########################################
# Visual Studio / VS Code
########################################

.vs/
.vscode/

########################################
# Rider
########################################

.idea/

########################################
# User-specific files
########################################

*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# Test Results
########################################

TestResults/

########################################
# React / Node
########################################

node_modules/
dist/
build/
coverage/

########################################
# Environment Files
########################################

.env
.env.*

########################################
# Logs
########################################

*.log

########################################
# OS Files
########################################

Thumbs.db
Desktop.ini
.DS_Store